{% load static %}

<html>
    <head>
      <title>Django Girls blog</title>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Moja django stronka</a></h1>
        </div>


        <div>
            <p>published: 02.11.2018, 12:14</p>
            <h2><a href="">Pierwszy akapit</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tincidunt arcu ut pretium semper. Nulla facilisi. Phasellus erat nulla, faucibus vitae varius nec, mollis lacinia orci. Nulla et dapibus nunc, a tincidunt quam. Phasellus quis bibendum velit. Nunc mollis enim nec cursus pharetra. Quisque id sem orci. Phasellus pulvinar ante turpis. Ut congue, ipsum sit amet semper dictum, nisl ex fringilla mi, eu ultrices dui magna ut nisi. Curabitur sit amet libero leo.</p>
        </div>



        <div>
            <p>published: 02.11.2018, 12:14</p>
            <h2><a href="">Drugi akapit</a></h2>
            <p>Suspendisse sit amet ultricies orci, a viverra mauris. Vestibulum eget molestie felis. Pellentesque cursus ultrices velit rutrum rhoncus. Mauris sed aliquam leo, laoreet accumsan lectus. Praesent ac odio sed felis viverra volutpat a vitae orci. In rutrum sollicitudin commodo. Mauris scelerisque augue lacinia quam laoreet mattis.

Pellentesque aliquam lorem vel felis vulputate, eget iaculis est gravida. Curabitur fermentum eget felis in facilisis. Integer tempor quam ut ultricies suscipit. Fusce sit amet blandit quam. Aliquam venenatis egestas ante a pharetra. Cras rutrum nisi ac elit blandit dignissim. Aenean et laoreet elit, eget ornare ante. Curabitur volutpat accumsan nibh, et pellentesque ligula auctor a.

Sed blandit sit amet neque a luctus. Proin egestas vehicula dui vel rutrum. Fusce mollis enim massa, et convallis neque dictum vitae. Curabitur justo nibh, commodo sed arcu aliquam, scelerisque aliquet ipsum. Ut eget magna porta, condimentum sem at, faucibus nibh. Aenean hendrerit varius massa. Vivamus a tristique tortor, id hendrerit massa. Fusce commodo iaculis laoreet.</p>
        </div>




    </body>
</html>
